body {
    background-color: antiquewhite;
}

.main_header {
    /* display: flex; */
    /* flex: 1; */
    padding: 200px 0px 100px 0px;
    background-color: #074f57;
    background-image: url(../images/landscape.jpeg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-position: top center repeat-y;
    margin-bottom: 30px;
    color: white;
    background-blend-mode: multiply;

}


.flexbox{ 
    display:flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 4px solid black;
    flex:1;
    text-align: center;
    
}
